/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');




/* Global style */

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
}

ul li{
    list-style-type: none;
}


img{
    width: 100%;
}




/* Shared style */

.container{
    padding: 80px 70px;
}

.btn{
    padding: 15px 30px;
    border-radius: 48px;
    color: #fff;
    display: inline-block;
    margin-top: 30px;
}

.btn-primary{
    background:#FF42A5; 
}

.btn-secondary{
    background: #4EC5F7;
}

.primary-color{
    color: #FF42A5;
}
.secondary-color{
    color: #0B0223;
}

.title{
    font-size: 3rem;
    line-height: 1.5em;
    font-weight: 700;
    color: #F948B2;
}

.description{
    color: #534C64;
    font-size: 1.1rem;
    line-height: 1.5em;
    font-weight: 400;
}




/* navbar style */

header{
    padding: 0 80px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navbar{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-box{
    display: flex;
    align-items: center;
}
.logo-box img{
    width: 40px;
}
.logo-box h1{
    margin-left: 5px;
    font-size: 2.2rem;
    font-weight: 700;
    color: #0B0223;
}

.menus ul{
    display: flex;

}

.menus ul li a{
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 20px;
    color: #3C354F;
}

.btn-nav{
    padding: 10px 20px;
    border-radius: 6px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
}

.btn-nav i{
    margin-left: 15px;
    
}
.btn-nav .fa-youtube{
    color: #F61C0D;
}



/* banner style */

.banner-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.banner-content h3{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 0.8rem;
}

.banner-content h1{
    font-size: 5.5rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content .btn{
    margin-right: 15px;
}


.list{
    margin-left: 10px;
    margin-top: 30px;
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
}

.list ul li{
    margin-bottom: 8px;
}

.list ul li i{
    margin-right: 8px;
}




/* Online games style */

.heading-box{
    text-align: center;
}

.game-box{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


.box p{
    margin-top: 20px;
}

/* image overlay */

.image-container {
    position: relative;
    width: 100%; 
    overflow: hidden;
  }
  

  .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
  }
  
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.3s ease;
  }
  
  
  .hover-icon {
    width: 60px;
    height: 60px;
    background-image: url('images/play-button.png');
    background-size: cover;
    margin-bottom: 10px;
  }
  
  
  .hover-text {
    color: #FF42A5;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  
  .image-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
    border: 2px solid #FF42A5;
  }
  



/* play games style */
.playgame-container{
    display: flex;
    align-items: center;
    gap: 70px;
    margin: 100px auto;
}
.playgame-img{
    position: relative;
    width: 50%;    
}
.playgame-img img{
    width: 80%;
}
.child-img{
    position: absolute;
    top: 70%;
    left: 65%;   
}
.child-img img{
    width: 95%;
}
.playgame-content{
    width: 50%;
}
.playgame-content h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.playgame-content p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px
}

.playgame-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.playgame-content p{
    margin-top: 30px;
}

.playgame .container{
    padding: 40px 70px;
}




/* category style */
.category{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.category-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    min-height: 280px;
}
.category-item{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    align-items: center;
}

.category-item:hover{
    border: 2px solid #FF42A5;
    cursor: pointer;
}
.category-item img{
    width: 40px;
    height: 40px;
}
.category-item span{
    color: #0B0223;
    font-size: 18px;
    font-weight: 600;
    margin-left: 8px;
}

/* footer style */

.footer{
    min-height: 436px;
    background: #0B0223;
}

.flogo-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flogo-box img{
    width: 40px;
}
.flogo-box h1{
    margin-left: 5px;
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;
}



.footer-menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.footer-menu ul li{
    margin-top: 20px;
}

.footer-menu ul li a{
    color: #fff;
    margin-right: 40px;
}

.social{
    margin-top: 60px;
}

.social ul{
    display: flex;
    justify-content: center;

}

.social ul li a i{
    color: #fff;
    font-size: 30px;
    margin-right: 30px;
}

/* footer bootom */

.footer-bottom{
    padding-top: 60px;
}

.quick-links ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quick-links ul li{
    margin-top: 20px;
}

.quick-links ul li a{
    color: rgba(255, 255, 255, 0.60);
    margin-right: 40px;
}

.copyright{
    text-align: center;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.60);
}





/* ===================   responsive styles =====================*/

/* for small devices */

@media screen and (max-width: 576px) {

    .container{
        padding: 60px 3%;
    }

    header{
        padding: 30px 3%;
        box-shadow: none;
    }

    .navbar{
        flex-direction: column;
        height: 200px;
    }

    .menus ul{
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .menus ul li a{
        display: inline-block;
        margin: 0 0 20px 0;
    }

    .btn-nav{
        margin-top: 20px;
    }

    .banner-container{
        grid-template-columns: repeat(1, 1fr); 
    }

    .banner-content{
        order: 2;
        padding: 3%;
    }

    .banner-img{
        order: 1;
        margin-bottom: 80px;
    }

    .game-box{
        grid-template-columns: repeat(1, 1fr);
    }

    .game-box .box{
        margin-bottom: 40px;
    }

    .category-container{
        min-height: 250px;
    }
    .category-item{
        margin-top: 20px;
        padding: 8px 10px;
    }
    .category-item img{
        width: 15px;
        height: 15px;
    }
    .category-item span{
        font-size: 8px;
        font-weight: 500;
        margin-left: 3px;
    }


    .playgame-content{
        width:100%;
 }
    .playgame-img{
        width: 100%;
        margin: 10px 0;
 }
    .playgame-container{
        flex-direction: column-reverse;
 }

 .playgame .container{
    padding: 40px 3%;
}


}

/* tablet responsive style */

@media screen and (max-width: 992px){
    .container{
        padding: 60px 5%;
    }

    header{
        padding: 50px 5%;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    }

    .navbar{
        flex-direction: column;
    }

    .game-box{
        grid-template-columns: repeat(2, 1fr);
    }

    .playgame .container{
        padding: 40px 3%;
    }

    .category-container{
        min-height: 250px;
    }
    .category-item{
        margin-top: 20px;
        padding: 8px 10px;
    }
    .category-item img{
        width: 20px;
        height: 20px;
    }
    .category-item span{
        font-size: 12px;
        font-weight: 500;
        margin-left: 5px;
    }

   
}

    
